In [4]:
print("hello,", 'what is you name?')
name = input()
print("hello,", name)

hello, what is you name?

 osaruonamen

hello, osaruonamen

In [12]:
print("pick a number:")
number1 = int(input())
print("pick a number:")
number2 = int(input())
print(type(number2))
print(type(number1))

SUM = int(number1)+ int(number2)
print("the total sum is :", SUM)

pick a number:

 50

pick a number:

 60

<class 'int'>
<class 'int'>
the total sum is : 110

In [1]:
print("i have money")

i have money

In [2]:
## functions

In [5]:
def add_number(input_numb):
    numbers = input_numb + 5
    return numbers

In [7]:
age = add_number(20)
print(age)

25

In [9]:
def salary(p_tax):
    pre_tax = p_tax * 15
    after_tax = pre_tax * (100-12)/100
    return after_tax

In [11]:
salary_after_tax = salary(10)
print(salary_after_tax)

132.0

practice

In [14]:
def total_package(num_hours, hourly_wage, tax_bracket):
    day_pay = num_hours * hourly_wage
    full_pay = day_pay * (1 - tax_bracket)
    return full_pay

In [17]:
full_salary = total_package(40, 30, 0.3)
print(full_salary)

840.0

In [18]:
full_salary = total_package(40, 24, 0.22)
print(full_salary)

748.8000000000001

In [21]:
def print_func():
    print("hello world")
    print("welcome to data science")

In [23]:
print_func()

hello world
welcome to data science

In [37]:
def get_expected_cost(beds, baths):
    cost_without_both = 80000
    cost_with_beds = 30000 * beds
    cost_with_baths = 10000 * baths
    value = cost_without_both + cost_with_beds + cost_with_baths
    return value

In [38]:
option_1 = get_expected_cost(2,3)
option_2 = get_expected_cost(3,2)
option_3 = get_expected_cost(3,3)
option_4 = get_expected_cost(3, 4)

In [39]:
print(option_1)
print(option_2)
print(option_3)
print(option_4)

170000
190000
200000
210000

In [40]:
def get_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    total_painted_space = sqft_walls + sqft_ceiling
    gallon_needed = total_painted_space / sqft_per_gallon
    cost = gallon_needed * cost_per_gallon
    return cost

In [42]:
cost_of_painting = get_cost(432, 144, 400, 15)
print(cost_of_painting)

21.599999999999998

In [44]:
cost_of_painting =get_cost(594, 288, 400, 15)
print(cost_of_painting)

33.075

In [54]:
def get_costs(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    total_painted_space = sqft_walls + sqft_ceiling
    gallon_needed = round((total_painted_space / sqft_per_gallon), 3)
    cost = gallon_needed * cost_per_gallon
    return cost

In [55]:
cost_of_painting = get_costs(594, 288, 400, 15)
print(cost_of_painting)

33.075

In [57]:
print(3 * True)
print(3 * False)
print("python" * False)
print(type("python" * False))
print("python" * True)

3
0

<class 'str'>
python

Questions on functions

In [1]:
def greet():
    print("Hello, python function!")
greet()

Hello, python function!

In [4]:
def square(x):
    y = x**2
    return y
square(5)

25

In [5]:
def power(base, exponent):
    exponent = base **2
    return exponent

In [7]:
power(3, 2)

9

In [6]:
def add_three_or_eight(y):
    if y < 10:
        x = y + 3
    elif y > 10:
        x = y + 8
    return x

In [7]:
add_three_or_eight(11)

19

In [9]:
def get_grade(score):
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade

In [12]:
print(get_grade(90))
print(get_grade(80))
print(get_grade(70))
print(get_grade(60))
print(get_grade(50))
print(get_grade(88))

A
B
C
D
F
B

In [13]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", 
                "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", 
                "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [16]:
flowers = flowers_list[-1]
print(flowers)

globe thistle

In [18]:
print("first_three_entry:", flowers_list[: 4])

first_three_entry: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea']

In [23]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

In [25]:
flowers_list.remove("canterbury bells")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

In [26]:
flowers_list.remove("moon orchid")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'english marigold', 'tiger lily', 'bird of paradise', 'monkshood']

In [27]:
flowers_list.append("snapdrahon")

In [28]:
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'english marigold', 'tiger lily', 'bird of paradise', 'monkshood', 'snapdrahon']

In [31]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]
print(hardcover_sales)

[139, 128, 172, 139, 191, 168, 170]

In [33]:
total_num_of_sales = sum(hardcover_sales)
print(total_num_of_sales)

1107

In [39]:
average_num_of_sales = sum(hardcover_sales)/7
print(average_num_of_sales)

158.14285714285714

In [41]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea, english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

In [44]:
print(flowers.split(","))

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', ' english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [49]:
print("list_flowers:", flowers[ : 5])

list_flowers: pink

In [1]:
print("boat" * 3)

boatboatboat

In [2]:
print("boat" * 3.3)

TypeError: can't multiply sequence by non-int of type 'float'

In [3]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [5]:
round(34.5678, 3)

34.568

In [8]:
def mod_5(x):
    return x % 5
print(
    "what number is your biggest ?",
    max(100, 51, 14),
    "what number is the biggest modulo 5?",
    max(100, 51, 14, key = mod_5), sep = '\n',
)

what number is your biggest ?
100
what number is the biggest modulo 5?
14

In [9]:
round(34567909, -3)

34568000

In [10]:
round(34567.909, -3)

35000.0

In [13]:
round(1233.141599876, -3)

1000.0

In [2]:
def age_to_run_for_president(age):
    #age for one to run for the president of the united state of america
    return age >= 35
print("who can run for the us president?", age_to_run_for_president(34))
print("who can run for the us president?", age_to_run_for_president(50))

who can run for the us president? False
who can run for the us president? True

In [1]:
int(bool)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'type'

In [9]:
input_your_age = input("enter your age: ")
student_id = input("do you have a student id?")
if student_id == "yes":
    print("you get 30% off")
else:
    print("you get five 5% off")

enter your age:  ari
do you have a student id? no

you get five 5% off

In [ ]:
s = '''
steganograpHy is the practicE of conceaLing a file, message, image, 
or video within another fiLe, message, image, Or video.
'''

for char in s:
    if char.isupper():
        print(char, end = '')

In [8]:
for i in range(5):
    print("doing important work. i =", i)

doing important work. i = 0
doing important work. i = 1
doing important work. i = 2
doing important work. i = 3
doing important work. i = 4

In [12]:
i = 0
while i < 10:
    print(i, end = ' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [15]:
i = 0
while i < 10:
    print(i, end = ' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [16]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
n = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet 
                 for planet in planets
                 if len(planets) < 6]
short_planets

[]

In [1]:
def largest_numbers(numbers):
    largest = numbers[0]
    for n in numbers:
        if n > largest:
            largest = n
    return largest

In [22]:
def largest_number(numbers):
    number = []
    for n in numbers:
        if n % 2 != 0:
            number.append(n)

    if not numbers:
        return none
            
    largest = numbers[0]        
    for n in numbers:
        if n > largest:
            largest = n
    return largest

In [23]:
print(largest_number[4, 7, 2, 9, 12])

TypeError: 'function' object is not subscriptable

In [32]:
def largest_odd(numbers):
    number = []                     # Step 1: collect odd numbers
    for n in numbers:               # Step 2: loop through original list
        if n % 2 != 0:
            number.append(n)
            #return number
    
    if not number:                  # Step 3: check if odd list is empty
        return None
    
    largest = number[0]             # Step 4: assume first odd number is largest
    for n in number:                # Step 5: loop through odd numbers
        if n > largest:
            largest = n
    
    return largest                  # Step 6: return the largest odd number

In [33]:
print(largest_odd([4, 7, 2, 9, 12]))

9

In [35]:
def largest_odd_sum(sublist):
    largest_sum = 0
    for sub in sublist:
        sub_sum = 0
        for n in sub:
            if n % 2 != 0:
                sub_sum += n
                
        if sub_sum > largest_sum:
            largest_sum = sub_sum
    return largest_sum

In [36]:
print(largest_odd_sum([[1,2,3], [4,5,6,7], [8,9]]))

12