In [ ]:
import pandas as pd

In [101]:
df = pd.read_csv(r'C:\Users\user\Desktop\data-science-journey\jupyter notebooks files\students_data.csv')
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [102]:
# will be conducting data cleaning on the dataset.

# first thing is to remove duplicate if there any from this dataset

df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
dtype: bool

In [103]:
# since we have one duplicate, we remove it

df = df.drop_duplicates()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [104]:
# look at the entire dataset for null values

df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       17
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [105]:
# looking at the name column, there are irregularities on the alphabets like small letters with big letter
# have to standardize it so as to avoid future errors

df.loc[:, 'name'] = df['name'].str.lower().str.title()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [106]:
# look at the age column, fill the null values.
# looking close the age gap are, i filled the null values with the average age


df.loc[:, 'age'] = df['age'].fillna(df['age'].mean())
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.000000,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.000000,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.777778,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.000000,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.000000,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.000000,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.000000,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.000000,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.000000,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.000000,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.000000,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.000000,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.000000,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.000000,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.000000,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.000000,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.777778,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.000000,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.000000,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.000000,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.000000,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.000000,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.000000,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.000000,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.000000,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.000000,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.777778,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.000000,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.000000,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.000000,male,11,NaN,64,83,2022/06/11,Average

In [107]:
#after removing all the null values from the age column, i convert to int

df.loc[:, 'age'] = df['age'].astype(int)
df
#df['age'].isnull()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.0,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [108]:
# standardized the gender column

df['gender'].unique()

array(['female', 'Male', 'MALE', 'FEMALE', 'male', 'Female'], dtype=object)

In [109]:
df.loc[:, 'gender'] = df['gender'].str.lower().str.title()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,NaN,64,83,2022/06/11,Average

In [110]:
# standardize the grade column

df['grade'].unique()

array(['11', '10th', '10', '12', '11th'], dtype=object)

In [111]:
df['grade'].dtypes

dtype('O')

In [112]:
# convert to string 

df.loc[:, 'grade'] = df['grade'].astype(str)
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,NaN,64,83,2022/06/11,Average

In [113]:
# removing the 'th' from the numbers to standardize the grades

df.loc[:, 'grade'] = df['grade'].str.rstrip('th')
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,NaN,64,83,2022/06/11,Average

In [114]:
# c0nvert the grade column from string to int

df.loc[:,'grade'] = df['grade'].astype(int)
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,NaN,64,83,2022/06/11,Average

In [115]:
# null values in the math score column
df['math_score'].isnull().sum()

np.int64(17)

In [116]:
# mean of the math score
df['math_score'].mean()

np.float64(74.0)

In [117]:
# fill the null values in the math score column with the mean of the column

df.loc[:, 'math_score'] = df['math_score'].fillna(df['math_score'].mean())
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,74.0,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11,74.0,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,74.0,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11,74.0,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11,74.0,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64,83,2022/06/11,Average

In [118]:
# the english score column

df['english_score']

0         NaN
1          95
2     missing
3     missing
4          96
5         NaN
6         NaN
7          63
8     missing
9     missing
10         67
11    missing
12         87
13        NaN
14         91
15         91
16        NaN
17         74
18         74
19        NaN
20    missing
21         72
22        NaN
23    missing
24        NaN
25         80
26    missing
27         76
28         64
29         64
Name: english_score, dtype: object

In [119]:
# convert the 'missing into a null value'
df.loc[:, 'english_score'] = pd.to_numeric(df['english_score'], errors = 'coerce')
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10,74.0,95.0,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,74.0,NaN,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,NaN,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96.0,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63.0,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,NaN,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,NaN,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67.0,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11,74.0,NaN,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87.0,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91.0,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91.0,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,74.0,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11,67.0,74.0,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74.0,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,NaN,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72.0,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11,74.0,NaN,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11,74.0,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80.0,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10,64.0,NaN,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76.0,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64.0,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64.0,83,2022/06/11,Average

In [120]:
# fill the missing values in the english score column with the average score or mean

df.loc[:, 'english_score'] = df['english_score'].fillna(df['english_score'].mean()).round(1)
df

C:\Users\user\AppData\Local\Temp\ipykernel_1524\1942243451.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'english_score'] = df['english_score'].fillna(df['english_score'].mean()).round(1)

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78.1,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10,74.0,95.0,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,74.0,78.1,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,78.1,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96.0,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,78.1,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,78.1,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63.0,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78.1,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,78.1,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67.0,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11,74.0,78.1,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87.0,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,78.1,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91.0,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91.0,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,74.0,78.1,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11,67.0,74.0,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74.0,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11,73.0,78.1,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78.1,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72.0,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,78.1,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11,74.0,78.1,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11,74.0,78.1,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80.0,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10,64.0,78.1,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76.0,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64.0,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64.0,83,2022/06/11,Average

In [121]:
df['english_score'].dtype

dtype('O')

In [122]:
# convert english score from string to int

df.loc[:, 'english_score'] = df['english_score'].astype(int)
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.0,Male,10,74.0,78,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,78,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,78,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,78,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,78,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11,74.0,78,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,78,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.0,Female,11,74.0,78,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11,73.0,78,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,78,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11,74.0,78,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11,74.0,78,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.0,Male,10,64.0,78,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64,83,2022/06/11,Average

In [132]:
df['enrolled_date'].unique()

array([datetime.date(2022, 10, 6), datetime.date(2022, 6, 12),
       datetime.date(2022, 11, 6)], dtype=object)

In [133]:
# standardize the enrolled date to one fornat 
# dd-mm-yyyy format
dict_date = {
          '2022-06-10': '10-06-2022', 
           '06/12/2022': '06-12-2022',
            '2022/06/11': '11-06-2022'
}

# use a replace function 

df.loc[:, 'enrolled_date'] = df['enrolled_date'].replace(dict_date)
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78,66,2022-10-06,Excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,2022-10-06,Good
2,102,Chris P.,16.0,Male,10,74.0,78,69,2022-06-12,Needs Improvement
3,103,Jane Smith,16.0,Female,10,74.0,78,62,2022-10-06,Average
4,104,Sara O'Neil,16.0,Male,11,74.0,96,64,2022-10-06,Good
5,105,Mike O’Reilly,16.0,Female,10,74.0,78,83,2022-06-12,Needs Improvement
6,106,Ali Khan,17.0,Female,11,64.0,78,75,2022-06-12,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63,62,2022-11-06,Excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78,89,2022-06-12,Poor
9,109,Robert Brown,17.0,Female,12,74.0,78,97,2022-10-06,Needs Improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,2022-06-12,Excellent
11,111,Simran Singh,16.0,Female,11,74.0,78,95,2022-10-06,Average
12,112,Patel R.,17.0,Female,11,74.0,87,89,2022-10-06,Poor
13,113,Patel R.,17.0,Male,10,74.0,78,98,2022-06-12,Average
14,114,Ali Khan,17.0,Male,12,74.0,91,67,2022-11-06,Poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,2022-06-12,Average
16,116,Chris P.,16.0,Female,11,74.0,78,72,2022-11-06,Excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-10-06,Good
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022-11-06,Average
19,119,Patel R.,17.0,Male,11,73.0,78,90,2022-06-12,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78,89,2022-10-06,Average
21,121,John Doe,18.0,Female,11,66.0,72,94,2022-10-06,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,78,66,2022-10-06,Good Student
23,123,Jane Smith,17.0,Female,11,74.0,78,63,2022-06-12,Excellent
24,124,John Doe,18.0,Male,11,74.0,78,91,2022-06-12,Good
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,2022-10-06,Average
26,126,John Doe,16.0,Male,10,64.0,78,67,2022-06-12,Good Student
27,127,Simran Singh,16.0,Female,12,74.0,76,80,2022-06-12,Poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64,89,2022-10-06,Average
29,129,Patel R.,17.0,Male,11,74.0,64,83,2022-11-06,Average

In [134]:
# convert the enrolled date from string to datetime

df['enrolled_date'] = pd.to_datetime(df['enrolled_date'])
df

C:\Users\user\AppData\Local\Temp\ipykernel_1524\211212968.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['enrolled_date'] = pd.to_datetime(df['enrolled_date'])

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78,66,2022-10-06,Excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,2022-10-06,Good
2,102,Chris P.,16.0,Male,10,74.0,78,69,2022-06-12,Needs Improvement
3,103,Jane Smith,16.0,Female,10,74.0,78,62,2022-10-06,Average
4,104,Sara O'Neil,16.0,Male,11,74.0,96,64,2022-10-06,Good
5,105,Mike O’Reilly,16.0,Female,10,74.0,78,83,2022-06-12,Needs Improvement
6,106,Ali Khan,17.0,Female,11,64.0,78,75,2022-06-12,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63,62,2022-11-06,Excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78,89,2022-06-12,Poor
9,109,Robert Brown,17.0,Female,12,74.0,78,97,2022-10-06,Needs Improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,2022-06-12,Excellent
11,111,Simran Singh,16.0,Female,11,74.0,78,95,2022-10-06,Average
12,112,Patel R.,17.0,Female,11,74.0,87,89,2022-10-06,Poor
13,113,Patel R.,17.0,Male,10,74.0,78,98,2022-06-12,Average
14,114,Ali Khan,17.0,Male,12,74.0,91,67,2022-11-06,Poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,2022-06-12,Average
16,116,Chris P.,16.0,Female,11,74.0,78,72,2022-11-06,Excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-10-06,Good
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022-11-06,Average
19,119,Patel R.,17.0,Male,11,73.0,78,90,2022-06-12,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78,89,2022-10-06,Average
21,121,John Doe,18.0,Female,11,66.0,72,94,2022-10-06,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,78,66,2022-10-06,Good Student
23,123,Jane Smith,17.0,Female,11,74.0,78,63,2022-06-12,Excellent
24,124,John Doe,18.0,Male,11,74.0,78,91,2022-06-12,Good
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,2022-10-06,Average
26,126,John Doe,16.0,Male,10,64.0,78,67,2022-06-12,Good Student
27,127,Simran Singh,16.0,Female,12,74.0,76,80,2022-06-12,Poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64,89,2022-10-06,Average
29,129,Patel R.,17.0,Male,11,74.0,64,83,2022-11-06,Average

In [135]:
df['enrolled_date'].dtype

dtype('<M8[ns]')

In [136]:
# because datetime is not what i need, i converted the datetime to just date

df['enrolled_date'] = df['enrolled_date'].dt.date
df

C:\Users\user\AppData\Local\Temp\ipykernel_1524\3558169379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['enrolled_date'] = df['enrolled_date'].dt.date

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78,66,2022-10-06,Excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,2022-10-06,Good
2,102,Chris P.,16.0,Male,10,74.0,78,69,2022-06-12,Needs Improvement
3,103,Jane Smith,16.0,Female,10,74.0,78,62,2022-10-06,Average
4,104,Sara O'Neil,16.0,Male,11,74.0,96,64,2022-10-06,Good
5,105,Mike O’Reilly,16.0,Female,10,74.0,78,83,2022-06-12,Needs Improvement
6,106,Ali Khan,17.0,Female,11,64.0,78,75,2022-06-12,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63,62,2022-11-06,Excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78,89,2022-06-12,Poor
9,109,Robert Brown,17.0,Female,12,74.0,78,97,2022-10-06,Needs Improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,2022-06-12,Excellent
11,111,Simran Singh,16.0,Female,11,74.0,78,95,2022-10-06,Average
12,112,Patel R.,17.0,Female,11,74.0,87,89,2022-10-06,Poor
13,113,Patel R.,17.0,Male,10,74.0,78,98,2022-06-12,Average
14,114,Ali Khan,17.0,Male,12,74.0,91,67,2022-11-06,Poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,2022-06-12,Average
16,116,Chris P.,16.0,Female,11,74.0,78,72,2022-11-06,Excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-10-06,Good
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022-11-06,Average
19,119,Patel R.,17.0,Male,11,73.0,78,90,2022-06-12,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78,89,2022-10-06,Average
21,121,John Doe,18.0,Female,11,66.0,72,94,2022-10-06,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,78,66,2022-10-06,Good Student
23,123,Jane Smith,17.0,Female,11,74.0,78,63,2022-06-12,Excellent
24,124,John Doe,18.0,Male,11,74.0,78,91,2022-06-12,Good
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,2022-10-06,Average
26,126,John Doe,16.0,Male,10,64.0,78,67,2022-06-12,Good Student
27,127,Simran Singh,16.0,Female,12,74.0,76,80,2022-06-12,Poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64,89,2022-10-06,Average
29,129,Patel R.,17.0,Male,11,74.0,64,83,2022-11-06,Average

In [137]:
df['enrolled_date'].dtype

dtype('O')

In [130]:
# standardize the remarks column


df.loc[:, 'remarks'] = df['remarks'].str.lower().str.title()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78,66,2022-10-06,Excellent
1,101,John Doe,16.0,Male,10,74.0,95,94,2022-10-06,Good
2,102,Chris P.,16.0,Male,10,74.0,78,69,2022-06-12,Needs Improvement
3,103,Jane Smith,16.0,Female,10,74.0,78,62,2022-10-06,Average
4,104,Sara O'Neil,16.0,Male,11,74.0,96,64,2022-10-06,Good
5,105,Mike O’Reilly,16.0,Female,10,74.0,78,83,2022-06-12,Needs Improvement
6,106,Ali Khan,17.0,Female,11,64.0,78,75,2022-06-12,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63,62,2022-11-06,Excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78,89,2022-06-12,Poor
9,109,Robert Brown,17.0,Female,12,74.0,78,97,2022-10-06,Needs Improvement
10,110,Lucy Gray,17.0,Male,11,65.0,67,100,2022-06-12,Excellent
11,111,Simran Singh,16.0,Female,11,74.0,78,95,2022-10-06,Average
12,112,Patel R.,17.0,Female,11,74.0,87,89,2022-10-06,Poor
13,113,Patel R.,17.0,Male,10,74.0,78,98,2022-06-12,Average
14,114,Ali Khan,17.0,Male,12,74.0,91,67,2022-11-06,Poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,2022-06-12,Average
16,116,Chris P.,16.0,Female,11,74.0,78,72,2022-11-06,Excellent
17,117,Ali Khan,18.0,Male,11,67.0,74,81,2022-10-06,Good
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022-11-06,Average
19,119,Patel R.,17.0,Male,11,73.0,78,90,2022-06-12,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78,89,2022-10-06,Average
21,121,John Doe,18.0,Female,11,66.0,72,94,2022-10-06,Average
22,122,Sara O'Neil,17.0,Male,11,75.0,78,66,2022-10-06,Good Student
23,123,Jane Smith,17.0,Female,11,74.0,78,63,2022-06-12,Excellent
24,124,John Doe,18.0,Male,11,74.0,78,91,2022-06-12,Good
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,2022-10-06,Average
26,126,John Doe,16.0,Male,10,64.0,78,67,2022-06-12,Good Student
27,127,Simran Singh,16.0,Female,12,74.0,76,80,2022-06-12,Poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64,89,2022-10-06,Average
29,129,Patel R.,17.0,Male,11,74.0,64,83,2022-11-06,Average

In [100]:
# all column are fully cleaned and standardized