In [153]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 21)

In [154]:
tel = pd.read_csv(r'C:\Users\user\Desktop\data-science-journey\Datasets\WA_Fn-UseC_-Telco-Customer-Churn.csv')
tel.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [155]:
tel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [156]:
# check for duplicates

tel[tel.duplicated()]

# no duplicate

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

In [157]:
tel.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [158]:
# rename some columns so all column name can be uniform

tel.rename(columns = {'gender': 'Gender', 'tenure': 'Tenure', }, inplace = True)

In [159]:
tel.head()

,customerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [160]:
tel['Churn'].dtypes

dtype('O')

In [163]:
# factors causing customer churn at the telco company


tel.groupby('Gender')['Churn'].value_counts().unstack()

Churn     No  Yes
Gender
Female  2549  939
Male    2625  930

In [164]:
tel['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [165]:
# with this we will be able to get the mean of the churn of every factor we will look into

tel['churn_num'] = tel['Churn'].map({'No' : 0, 'Yes' : 1})
tel.head()

,customerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,churn_num
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1

In [166]:
# gender causes churn?

tel.groupby('Gender')['churn_num'].mean()

# from this it is obvious that gender plays a very minimal in customer churn as females has ~26.9% churn rate a little above 
# male with ~26.1%.

Gender
Female    0.269209
Male      0.261603
Name: churn_num, dtype: float64

In [168]:
# senior citizens causes churn?

tel.groupby('SeniorCitizen')['churn_num'].mean()

# we can see that the senior citizens churn rate of ~41.6% is almost twice of the non senior citizens.
# which means that the older you get, the tendencies of continuously using telcos reduces.
# so senior citizen increase churn.

SeniorCitizen
0    0.236062
1    0.416813
Name: churn_num, dtype: float64

In [169]:
# internet service affect churn?

tel.groupby('InternetService')['churn_num'].mean()

# it is very clear that the internet service plays a major role in customer churn,
# as fiber optic has a churn rate of ~41.8% which is more twice the DSL churnrate of ~18.9%
# and 5x more than No churn rate of ~7.4%.
# what this means is that internet service play a very major role in customer churn at the telcos.

InternetService
DSL            0.189591
Fiber optic    0.418928
No             0.074050
Name: churn_num, dtype: float64

In [170]:
tel['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [171]:
# tech support causes churn?

tel.groupby('TechSupport')['churn_num'].mean()


# from the data, tech support is another key factor increasing customer churn.
# from the data, no tech support has ~41.6% churn rate which is more than twice when tech support is available and more than
# 5x when no internet service.
# tech support is another factor that play a major role in customer churn.

TechSupport
No                     0.416355
No internet service    0.074050
Yes                    0.151663
Name: churn_num, dtype: float64

In [172]:
tel['TechSupport'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [173]:
# monthly chrge causes churn?

tel.groupby(pd.cut(tel['MonthlyCharges'], bins = [0.0, 40.0, 70.0, 119.0], labels = ['low', 'mid', 'high']))['churn_num'].mean()

# from this we can see that monthly charge is another key factor causing customer churn,
# monthly charge of high monthly charge has a churn rate of ~35.3% which is thrice the churn rate of low monthly charge churn rate with ~11.6%
# also compared to mid charge with churn rate of ~23.9%.

C:\Users\user\AppData\Local\Temp\ipykernel_9380\3721817149.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tel.groupby(pd.cut(tel['MonthlyCharges'], bins = [0.0, 40.0, 70.0, 119.0], labels = ['low', 'mid', 'high']))['churn_num'].mean()

MonthlyCharges
low     0.116431
mid     0.239211
high    0.353614
Name: churn_num, dtype: float64

In [174]:
tel['TotalCharges'].max()

'999.9'

In [175]:
tel

,customerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,churn_num
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No,0
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,0
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,0
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,1
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0

In [178]:
# to be able to convert TotalCharges from object to float 
# we fill the '' space first.

tel['TotalCharges'] = pd.to_numeric(tel['TotalCharges'], errors = 'coerce')

#tel['TotalCharges'].unique()

In [180]:
tel['TotalCharges'].dtypes

dtype('float64')

In [183]:
tel['TotalCharges_range'] = pd.cut(
    tel['TotalCharges'],
    bins = [0, 1500, 3000, 9000],
    labels = ['low', 'mid', 'high']
)

In [184]:
tel.head()

,customerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,churn_num,TotalCharges_range
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0,low
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.50,No,0,mid
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,low
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0,mid
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,low

In [185]:
tel.groupby('TotalCharges_range')['churn_num'].mean()

# Customers with low total charges churn more because they are mostly new customers with short tenure.

# to further buttress my point, let check the tenure.

C:\Users\user\AppData\Local\Temp\ipykernel_9380\2773454975.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tel.groupby('TotalCharges_range')['churn_num'].mean()

TotalCharges_range
low     0.338978
mid     0.238218
high    0.158802
Name: churn_num, dtype: float64

In [186]:
tel.groupby(pd.cut(tel['Tenure'], bins = [0, 12, 36, 72]))['churn_num'].mean()

# You will see:
# 0â€“12 months â†’ very high churn
# 12â€“36 months â†’ medium churn
# 36â€“72 months â†’ low churn
#This proves your churn problem is mainly early customer dissatisfaction, not price alone.

C:\Users\user\AppData\Local\Temp\ipykernel_9380\3510016495.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tel.groupby(pd.cut(tel['Tenure'], bins = [0, 12, 36, 72]))['churn_num'].mean()

Tenure
(0, 12]     0.476782
(12, 36]    0.255388
(36, 72]    0.119294
Name: churn_num, dtype: float64

In [145]:
tel.describe()

       SeniorCitizen       Tenure  MonthlyCharges  TotalCharges    churn_num
count    7043.000000  7043.000000     7043.000000   7032.000000  7043.000000
mean        0.162147    32.371149       64.761692   2283.300441     0.265370
std         0.368612    24.559481       30.090047   2266.771362     0.441561
min         0.000000     0.000000       18.250000     18.800000     0.000000
25%         0.000000     9.000000       35.500000    401.450000     0.000000
50%         0.000000    29.000000       70.350000   1397.475000     0.000000
75%         0.000000    55.000000       89.850000   3794.737500     1.000000
max         1.000000    72.000000      118.750000   8684.800000     1.000000

In [146]:
tel['TotalCharges'].median()

1397.475

In [148]:
# check for outliers on the total charges column

q1 = np.percentile(tel['TotalCharges'], 25)
q1

np.float64(nan)

In [149]:
q3 = np.percentile(tel['TotalCharges'], 75)
q3

np.float64(nan)

In [182]:
# total charge causes churn?

tel.groupby(pd.cut(tel['TotalCharges'], bins = [18, 1500.0, 3000.0, 9000.0], labels = ['low charge', 'mid charge', 'high charge']))['churn_num'].mean()

C:\Users\user\AppData\Local\Temp\ipykernel_9380\3555252360.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tel.groupby(pd.cut(tel['TotalCharges'], bins = [18, 1500.0, 3000.0, 9000.0], labels = ['low charge', 'mid charge', 'high charge']))['churn_num'].mean()

TotalCharges
low charge     0.338978
mid charge     0.238218
high charge    0.158802
Name: churn_num, dtype: float64

In [141]:
# online security causes churn?

tel.groupby('OnlineSecurity')['churn_num'].mean()

# from the data, online security is another key factor increasing customer churn.
# from the data, no online security has ~41.7% churn rate which is more than twice when online security is available and more than
# 5x when no internet service.
# unavailable online security is another factor that play a major role in customer churn.

OnlineSecurity
No                     0.417667
No internet service    0.074050
Yes                    0.146112
Name: churn_num, dtype: float64

In [ ]:
# final insight

# from the analysis, we can see that internet services, tech support, monthly charges, senior citizen, and online security plays major roles 
# in customer churn.gender role is very minimal.
# when internet is bad customers want to go, same with tech support, when no available agent to assist customers when needed and monthly charges, when it is too
# high, it creates problem for some customers thereby making them to leave.