In [1]:
import pandas as pd

In [141]:
airbnb = pd.read_csv(r'C:\Users\user\Desktop\data-science-journey\Datasets\Airbnb_Open_Data.csv')
airbnb

C:\Users\user\AppData\Local\Temp\ipykernel_9684\2831669589.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb = pd.read_csv(r'C:\Users\user\Desktop\data-science-journey\Datasets\Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [142]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [143]:
'''
    checklist for this project
    
    drop duplicates
    delete redundant columns
    rename columns when needed
    clean individual columns
    rename the NaN values from the dataset
    check for some more transformations
'''

'\n    checklist for this project\n    \n    drop duplicates\n    delete redundant columns\n    rename columns when needed\n    clean individual columns\n    rename the NaN values from the dataset\n    check for some more transformations\n'

In [144]:
# check for duplicates in the dataset

airbnb.duplicated().sum()

np.int64(541)

In [145]:
# remove duplicates from the dataset

airbnb = airbnb.drop_duplicates()
airbnb

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [146]:
airbnb.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [147]:
# rename column name e.g NAME

airbnb.rename(columns = {'NAME': 'name'}, inplace = True)
airbnb.head(3)

C:\Users\user\AppData\Local\Temp\ipykernel_9684\4101863769.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb.rename(columns = {'NAME': 'name'}, inplace = True)

,id,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN

In [148]:
airbnb.columns

Index(['id', 'name', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [149]:
# drop the license column

airbnb = airbnb.drop(columns = ['license'])
airbnb

,id,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,$696,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,$909,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,$387,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,$848,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,"$1,128",NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...

In [150]:
# since index is available, i drop the id column

airbnb = airbnb.drop(columns = 'id')
airbnb

,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,US,...,$696,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...
102054,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,US,...,$909,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?
102055,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,US,...,$387,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...
102056,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,US,...,$848,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...
102057,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,US,...,"$1,128",NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...

individual column cleaning

In [151]:
# standardizing the name column

airbnb['name'].unique()

array(['Clean & quiet apt home by the park', 'Skylit Midtown Castle',
       'THE VILLAGE OF HARLEM....NEW YORK !', ...,
       'Elmhurst 1st Fl Rightl Bedroom',
       'Elmhurst 1st Floor BR w/ Pvt. Bath&Balcony',
       'Parisian Style Apartment in Heart of Brooklyn'], dtype=object)

In [152]:
# make the upper case in the name column to lower case

airbnb['name'] = airbnb['name'].str.lower()
airbnb

,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,skylit midtown castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,the village of harlem....new york !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,entire apt: spacious studio/loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,cozy bright room near prospect park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,US,...,$696,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...
102054,private bedroom with amazing rooftop view,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,US,...,$909,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?
102055,pretty brooklyn one-bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,US,...,$387,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...
102056,room & private bathroom in historic harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,US,...,$848,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...
102057,rosalee stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,US,...,"$1,128",NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...

In [153]:
# drop null values in the name column

#airbnb[airbnb['name'].isnull()]

airbnb = airbnb.dropna(subset = 'name')
airbnb

,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,skylit midtown castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,the village of harlem....new york !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
4,entire apt: spacious studio/loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
5,large cozy 1 br apartment in midtown east,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,...,$577,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,cozy bright room near prospect park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,US,...,$696,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...
102054,private bedroom with amazing rooftop view,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,US,...,$909,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?
102055,pretty brooklyn one-bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,US,...,$387,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...
102056,room & private bathroom in historic harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,US,...,$848,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...
102057,rosalee stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,US,...,"$1,128",NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...

In [154]:
# to check the if there is still null values in the name column

airbnb['name'].isnull().sum()

np.int64(0)

In [155]:
airbnb.isnull().sum()

name                                  0
host id                               0
host_identity_verified              277
host name                           398
neighbourhood group                  27
neighbourhood                        16
lat                                   8
long                                  8
country                             527
country code                        123
instant_bookable                     97
cancellation_policy                  71
room type                             0
Construction year                   205
price                               244
service fee                         273
minimum nights                      394
number of reviews                   182
last review                       15796
reviews per month                 15782
review rate number                  311
calculated host listings count      318
availability 365                    430
house_rules                       51736
dtype: int64

In [159]:
# drop last review, house rules

airbnb.drop(columns = ['last review', 'house_rules', 'reviews per month'], inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_9684\712132105.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb.drop(columns = ['last review', 'house_rules', 'reviews per month'], inplace = True)

In [161]:
airbnb.isnull().sum()

name                                0
host id                             0
host_identity_verified            277
host name                         398
neighbourhood group                27
neighbourhood                      16
lat                                 8
long                                8
country                           527
country code                      123
instant_bookable                   97
cancellation_policy                71
room type                           0
Construction year                 205
price                             244
service fee                       273
minimum nights                    394
number of reviews                 182
review rate number                311
calculated host listings count    318
availability 365                  430
dtype: int64

In [164]:
# drop null values from the dataset

airbnb.dropna(inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_9684\3857302331.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb.dropna(inplace = True)

In [165]:
airbnb.isnull().sum()

name                              0
host id                           0
host_identity_verified            0
host name                         0
neighbourhood group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
country code                      0
instant_bookable                  0
cancellation_policy               0
room type                         0
Construction year                 0
price                             0
service fee                       0
minimum nights                    0
number of reviews                 0
review rate number                0
calculated host listings count    0
availability 365                  0
dtype: int64

In [168]:
# after removing null values, let look at individual columns 
# thenname column is fully cleaned 
# look at the host_identity_verified column


airbnb['host_identity_verified'].unique()
# the column is okay

array(['unconfirmed', 'verified'], dtype=object)

In [171]:
# the host name column is okay

airbnb['host name'].unique()

array(['Madaline', 'Jenna', 'Lyndon', ..., 'Minh', 'Dier', 'Apostle John'],
      dtype=object)

In [176]:
# the construction year is in the float data type, we change it to date

airbnb['Construction year'].dtypes

dtype('float64')

In [182]:
airbnb['Construction year'] = pd.to_datetime(airbnb['Construction year'])
airbnb['Construction year']

C:\Users\user\AppData\Local\Temp\ipykernel_9684\1160030687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb['Construction year'] = pd.to_datetime(airbnb['Construction year'])

0        1970-01-01 00:00:00.000002020
1        1970-01-01 00:00:00.000002007
4        1970-01-01 00:00:00.000002009
5        1970-01-01 00:00:00.000002013
7        1970-01-01 00:00:00.000002009
                      ...
102029   1970-01-01 00:00:00.000002018
102030   1970-01-01 00:00:00.000002015
102031   1970-01-01 00:00:00.000002020
102032   1970-01-01 00:00:00.000002007
102040   1970-01-01 00:00:00.000002022
Name: Construction year, Length: 98509, dtype: datetime64[ns]

In [183]:
airbnb['Construction year'].dtypes

dtype('<M8[ns]')

In [186]:
# from datetime to date data type

airbnb['Construction year'] = airbnb['Construction year'].dt.date
airbnb['Construction year']

C:\Users\user\AppData\Local\Temp\ipykernel_9684\650440133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb['Construction year'] = airbnb['Construction year'].dt.date

0         1970-01-01
1         1970-01-01
4         1970-01-01
5         1970-01-01
7         1970-01-01
             ...
102029    1970-01-01
102030    1970-01-01
102031    1970-01-01
102032    1970-01-01
102040    1970-01-01
Name: Construction year, Length: 98509, dtype: object

In [188]:
# the price column is in object data format as against int

airbnb['price'].dtypes

dtype('O')

In [191]:
# first remove the $ sign 

airbnb['price'] = airbnb['price'].str.lstrip('$')
airbnb['price']

C:\Users\user\AppData\Local\Temp\ipykernel_9684\4171978325.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb['price'] = airbnb['price'].str.lstrip('$')

0           966
1           142
4           204
5           577
7         1,060
           ...
102029      822
102030      455
102031    1,078
102032      103
102040      982
Name: price, Length: 98509, dtype: object

In [196]:
# before i continue, i reset the index column

airbnb = airbnb.reset_index()
airbnb

,level_0,index,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,...,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count,availability 365
0,0,0,clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,...,strict,Private room,1970-01-01,966,$193,10.0,9.0,4.0,6.0,286.0
1,1,1,skylit midtown castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,...,moderate,Entire home/apt,1970-01-01,142,$28,30.0,45.0,4.0,2.0,228.0
2,2,4,entire apt: spacious studio/loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,...,moderate,Entire home/apt,1970-01-01,204,$41,10.0,9.0,3.0,1.0,289.0
3,3,5,large cozy 1 br apartment in midtown east,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,...,flexible,Entire home/apt,1970-01-01,577,$115,3.0,74.0,3.0,1.0,374.0
4,4,7,blissartsspace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,...,moderate,Private room,1970-01-01,"1,060",$212,45.0,49.0,5.0,1.0,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98504,98504,102029,cozy room in a 2b with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,...,flexible,Private room,1970-01-01,822,$164,1.0,9.0,3.0,1.0,0.0
98505,98505,102030,an east williamsburg delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,...,moderate,Private room,1970-01-01,455,$91,4.0,36.0,1.0,1.0,0.0
98506,98506,102031,cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,...,flexible,Private room,1970-01-01,"1,078",$216,1.0,58.0,5.0,2.0,120.0
98507,98507,102032,spacious room w/ 2 bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,...,moderate,Private room,1970-01-01,103,$21,7.0,40.0,1.0,5.0,148.0
98508,98508,102040,"room in queens, ny, near lga.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,...,strict,Private room,1970-01-01,982,$196,1.0,239.0,2.0,2.0,361.0

In [199]:
# drop level_0 and index for clarity

airbnb = airbnb.drop(columns = ['level_0', 'index'])
airbnb

,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,...,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count,availability 365
0,clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,...,strict,Private room,1970-01-01,966,$193,10.0,9.0,4.0,6.0,286.0
1,skylit midtown castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,...,moderate,Entire home/apt,1970-01-01,142,$28,30.0,45.0,4.0,2.0,228.0
2,entire apt: spacious studio/loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,...,moderate,Entire home/apt,1970-01-01,204,$41,10.0,9.0,3.0,1.0,289.0
3,large cozy 1 br apartment in midtown east,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,...,flexible,Entire home/apt,1970-01-01,577,$115,3.0,74.0,3.0,1.0,374.0
4,blissartsspace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,...,moderate,Private room,1970-01-01,"1,060",$212,45.0,49.0,5.0,1.0,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98504,cozy room in a 2b with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,...,flexible,Private room,1970-01-01,822,$164,1.0,9.0,3.0,1.0,0.0
98505,an east williamsburg delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,...,moderate,Private room,1970-01-01,455,$91,4.0,36.0,1.0,1.0,0.0
98506,cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,...,flexible,Private room,1970-01-01,"1,078",$216,1.0,58.0,5.0,2.0,120.0
98507,spacious room w/ 2 bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,...,moderate,Private room,1970-01-01,103,$21,7.0,40.0,1.0,5.0,148.0
98508,"room in queens, ny, near lga.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,...,strict,Private room,1970-01-01,982,$196,1.0,239.0,2.0,2.0,361.0

In [203]:
# still on the price column

airbnb['price'] = airbnb['price'].str.replace(',', '')
airbnb['price']

0         966
1         142
2         204
3         577
4        1060
         ...
98504     822
98505     455
98506    1078
98507     103
98508     982
Name: price, Length: 98509, dtype: object

In [205]:
# convert the price data type to int

airbnb['price'] = airbnb['price'].astype(int)
airbnb['price']

0         966
1         142
2         204
3         577
4        1060
         ...
98504     822
98505     455
98506    1078
98507     103
98508     982
Name: price, Length: 98509, dtype: int64

In [206]:
airbnb

,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,...,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count,availability 365
0,clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,...,strict,Private room,1970-01-01,966,$193,10.0,9.0,4.0,6.0,286.0
1,skylit midtown castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,...,moderate,Entire home/apt,1970-01-01,142,$28,30.0,45.0,4.0,2.0,228.0
2,entire apt: spacious studio/loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,...,moderate,Entire home/apt,1970-01-01,204,$41,10.0,9.0,3.0,1.0,289.0
3,large cozy 1 br apartment in midtown east,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,...,flexible,Entire home/apt,1970-01-01,577,$115,3.0,74.0,3.0,1.0,374.0
4,blissartsspace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,...,moderate,Private room,1970-01-01,1060,$212,45.0,49.0,5.0,1.0,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98504,cozy room in a 2b with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,...,flexible,Private room,1970-01-01,822,$164,1.0,9.0,3.0,1.0,0.0
98505,an east williamsburg delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,...,moderate,Private room,1970-01-01,455,$91,4.0,36.0,1.0,1.0,0.0
98506,cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,...,flexible,Private room,1970-01-01,1078,$216,1.0,58.0,5.0,2.0,120.0
98507,spacious room w/ 2 bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,...,moderate,Private room,1970-01-01,103,$21,7.0,40.0,1.0,5.0,148.0
98508,"room in queens, ny, near lga.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,...,strict,Private room,1970-01-01,982,$196,1.0,239.0,2.0,2.0,361.0

In [207]:
# we repeat the same we did for price column on the service fee column too

airbnb['service fee'].dtypes

dtype('O')

In [210]:
# remove the $ sign 

airbnb['service fee'] = airbnb['service fee'].str.lstrip('$')
airbnb['service fee']

0        193
1         28
2         41
3        115
4        212
         ...
98504    164
98505     91
98506    216
98507     21
98508    196
Name: service fee, Length: 98509, dtype: object

In [223]:
airbnb['service fee'][15]

'171'

In [222]:
# to remove white spaces

airbnb['service fee'] = airbnb['service fee'].str.strip()
airbnb['service fee']

0        193
1         28
2         41
3        115
4        212
        ...
98504    164
98505     91
98506    216
98507     21
98508    196
Name: service fee, Length: 98509, dtype: object

In [228]:
# convert the 'service fee' to int data format

airbnb['service fee'] = airbnb['service fee'].astype(int)
airbnb['service fee']

0        193
1         28
2         41
3        115
4        212
        ...
98504    164
98505     91
98506    216
98507     21
98508    196
Name: service fee, Length: 98509, dtype: int64

In [230]:
# check the different data type of each column and convert when necessary


airbnb['minimum nights'].dtypes

dtype('float64')

In [232]:
airbnb['number of reviews'].dtypes

dtype('float64')

In [234]:
airbnb['review rate number'].dtypes

dtype('float64')

In [235]:
airbnb['calculated host listings count'].dtypes

dtype('float64')

In [236]:
airbnb['availability 365'].dtypes

dtype('float64')

In [238]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98509 entries, 0 to 98508
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            98509 non-null  object
 1   host id                         98509 non-null  int64
 2   host_identity_verified          98509 non-null  object
 3   host name                       98509 non-null  object
 4   neighbourhood group             98509 non-null  object
 5   neighbourhood                   98509 non-null  object
 6   lat                             98509 non-null  float64
 7   long                            98509 non-null  float64
 8   country                         98509 non-null  object
 9   country code                    98509 non-null  object
 10  instant_bookable                98509 non-null  object
 11  cancellation_policy             98509 non-null  object
 12  room type                       98509 non-null  object
 13  Construction year               98509 non-null  object
 14  price                           98509 non-null  int64
 15  service fee                     98509 non-null  int64
 16  minimum nights                  98509 non-null  float64
 17  number of reviews               98509 non-null  float64
 18  review rate number              98509 non-null  float64
 19  calculated host listings count  98509 non-null  float64
 20  availability 365                98509 non-null  float64
dtypes: float64(7), int64(3), object(11)
memory usage: 15.8+ MB

In [241]:
airbnb

,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,...,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count,availability 365
0,clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,...,strict,Private room,1970-01-01,966,193,10.0,9.0,4.0,6.0,286.0
1,skylit midtown castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,...,moderate,Entire home/apt,1970-01-01,142,28,30.0,45.0,4.0,2.0,228.0
2,entire apt: spacious studio/loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,...,moderate,Entire home/apt,1970-01-01,204,41,10.0,9.0,3.0,1.0,289.0
3,large cozy 1 br apartment in midtown east,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,...,flexible,Entire home/apt,1970-01-01,577,115,3.0,74.0,3.0,1.0,374.0
4,blissartsspace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,...,moderate,Private room,1970-01-01,1060,212,45.0,49.0,5.0,1.0,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98504,cozy room in a 2b with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,...,flexible,Private room,1970-01-01,822,164,1.0,9.0,3.0,1.0,0.0
98505,an east williamsburg delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,...,moderate,Private room,1970-01-01,455,91,4.0,36.0,1.0,1.0,0.0
98506,cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,...,flexible,Private room,1970-01-01,1078,216,1.0,58.0,5.0,2.0,120.0
98507,spacious room w/ 2 bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,...,moderate,Private room,1970-01-01,103,21,7.0,40.0,1.0,5.0,148.0
98508,"room in queens, ny, near lga.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,...,strict,Private room,1970-01-01,982,196,1.0,239.0,2.0,2.0,361.0

In [243]:
airbnb.to_csv('cleaned_airbnb_dataset.csv')