In [77]:
import pandas as pd 
import numpy as np

pd.set_option('display.max_columns', 12)

import warnings
warnings.filterwarnings('ignore')

In [78]:
df = pd.read_csv(r'C:\Users\user\Desktop\data-science-journey\Datasets\marketing_campaign_data_messy.csv')
df

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,2023-10-31 00:00:00,2023-11-13,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2016,CMP-01255,Q4_Summer_CMP-01255,2023-09-01 00:00:00,2023-09-26,Google Ads,20097,897,1641.0,162.0,0,NaN,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2023-02-09 00:00:00,2023-02-21,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2018,CMP-01118,Q4_Winter_CMP-01118,2023-03-30 00:00:00,2023-04-27,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2019,CMP-01554,Q4_Launch_CMP-01554,2023-06-26 00:00:00,2023-07-09,Email,96402,1090,1315.59,66.0,Y,NaN,EM

In [79]:
# column header cleaning to remove white spaces

df.columns

Index([' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel',
       'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks',
       'Campaign_Tag'],
      dtype='object')

In [80]:
# column header cleaning to remove white spaces

df.columns = df.columns.str.strip().str.lower()

In [81]:
df.columns

Index(['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel',
       'impressions', 'clicks', 'spend', 'conversions', 'active', 'clicks',
       'campaign_tag'],
      dtype='object')

In [82]:
df

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,2023-10-31 00:00:00,2023-11-13,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2016,CMP-01255,Q4_Summer_CMP-01255,2023-09-01 00:00:00,2023-09-26,Google Ads,20097,897,1641.0,162.0,0,NaN,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2023-02-09 00:00:00,2023-02-21,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2018,CMP-01118,Q4_Winter_CMP-01118,2023-03-30 00:00:00,2023-04-27,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2019,CMP-01554,Q4_Launch_CMP-01554,2023-06-26 00:00:00,2023-07-09,Email,96402,1090,1315.59,66.0,Y,NaN,EM

In [83]:
# to get the sum of duplicated data

df.duplicated().sum()

np.int64(19)

In [84]:
# drop duplicates from the dataset

df.drop_duplicates(inplace = True)
df

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,clicks,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
1996,CMP-01997,Q4_Winter_CMP-01997,2023-12-06 00:00:00,2023-12-18,Facebook,84847,2616,4528.0,449.0,0,NaN,FA
1997,CMP-01998,Q4_BlackFriday_CMP-01998,2023-12-31 00:00:00,2024-01-14,Instagram,29380,705,767.32,NaN,False,NaN,IN
1998,CMP-01999,Q1_Launch_CMP-01999,2023-10-31 00:00:00,2023-11-24,Instagram,3356,124,145.24,18.0,0,NaN,IN
1999,CMP-02000,Q2_Winter_CMP-02000,2023-02-19 00:00:00,2023-03-04,TikTok,71326,2877,4588.82,245.0,True,NaN,TI
2008,CMP-01377,Q1_Winter_CMP-01377,2023-12-21 00:00:00,2023-12-29,E-mail,87143,2204,2649.14,391.0,Yes,NaN,E-

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2001 entries, 0 to 2008
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    2001 non-null   object
 1   campaign_name  2001 non-null   object
 2   start_date     2001 non-null   object
 3   end_date       2001 non-null   object
 4   channel        1901 non-null   object
 5   impressions    2001 non-null   int64
 6   clicks         2001 non-null   int64
 7   spend          2001 non-null   object
 8   conversions    1801 non-null   float64
 9   active         2001 non-null   object
 10  clicks         40 non-null     float64
 11  campaign_tag   2001 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 203.2+ KB

In [86]:
# to get the total null values in each columns

df.isnull().sum()

campaign_id         0
campaign_name       0
start_date          0
end_date            0
channel           100
impressions         0
clicks              0
spend               0
conversions       200
active              0
clicks           1961
campaign_tag        0
dtype: int64

In [87]:
# notice duplicate column called click
# removed the duplicated column

df = df.loc[:, ~df.columns.duplicated()]

In [88]:
df.head()

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,FA

# individual column cleaning

In [89]:
# standardize the start date column from datetime to date 

df['start_date']

0       2023-11-24 00:00:00
1       2023-05-06 00:00:00
2       2023-12-13 00:00:00
3                2023-10-30
4       2023-04-22 00:00:00
               ...
1996    2023-12-06 00:00:00
1997    2023-12-31 00:00:00
1998    2023-10-31 00:00:00
1999    2023-02-19 00:00:00
2008    2023-12-21 00:00:00
Name: start_date, Length: 2001, dtype: object

In [90]:
# convert the start date first to date time to unify all dataset

df['start_date'] = pd.to_datetime(df['start_date'], format = 'mixed')
df['start_date']

0      2023-11-24
1      2023-05-06
2      2023-12-13
3      2023-10-30
4      2023-04-22
          ...
1996   2023-12-06
1997   2023-12-31
1998   2023-10-31
1999   2023-02-19
2008   2023-12-21
Name: start_date, Length: 2001, dtype: datetime64[ns]

In [91]:
# convert from date time to date

df['start_date'].dt.date

0       2023-11-24
1       2023-05-06
2       2023-12-13
3       2023-10-30
4       2023-04-22
           ...
1996    2023-12-06
1997    2023-12-31
1998    2023-10-31
1999    2023-02-19
2008    2023-12-21
Name: start_date, Length: 2001, dtype: object

In [92]:
df

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,Facebook,1860,30,24.33,1.0,0,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,Email,77820,843,1323.39,51.0,No,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,FA
...,...,...,...,...,...,...,...,...,...,...,...
1996,CMP-01997,Q4_Winter_CMP-01997,2023-12-06,2023-12-18,Facebook,84847,2616,4528.0,449.0,0,FA
1997,CMP-01998,Q4_BlackFriday_CMP-01998,2023-12-31,2024-01-14,Instagram,29380,705,767.32,NaN,False,IN
1998,CMP-01999,Q1_Launch_CMP-01999,2023-10-31,2023-11-24,Instagram,3356,124,145.24,18.0,0,IN
1999,CMP-02000,Q2_Winter_CMP-02000,2023-02-19,2023-03-04,TikTok,71326,2877,4588.82,245.0,True,TI
2008,CMP-01377,Q1_Winter_CMP-01377,2023-12-21,2023-12-29,E-mail,87143,2204,2649.14,391.0,Yes,E-

In [93]:
# check for the unique values in the column

df['channel'].unique()

array(['TikTok', 'Facebook', 'Email', 'Instagram', 'Google Ads', 'E-mail',
       nan, 'Gogle', 'Tik_Tok', 'Facebok', 'Insta_gram'], dtype=object)

In [94]:
# seeing the irregulaties, correct the spellings and reasign the names

df['channel'] = df['channel'].replace({'TikTok': 'tiktok', 'Facebook': 'facebook', 'Email': 'email', 'Instagram': 'instagram', 'Google Ads': 'google ads', 'E-mail': 'email',
       'Gogle': 'google ads', 'Tik_Tok': 'tiktok', 'Facebok': 'facebook', 'Insta_gram': 'instagra,'})
df['channel'].unique()

array(['tiktok', 'facebook', 'email', 'instagram', 'google ads', nan,
       'instagra,'], dtype=object)

In [95]:
# the spend column has the dollar sign and has to be removed

df['spend'] = df['spend'].str.lstrip('$')
df

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,tiktok,16795,197,102.82,20.0,Y,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,facebook,1860,30,24.33,1.0,0,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,email,77820,843,1323.39,51.0,No,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,tiktok,55886,2019,2180.38,135.0,True,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,facebook,7265,169,252.44,30.0,Yes,FA
...,...,...,...,...,...,...,...,...,...,...,...
1996,CMP-01997,Q4_Winter_CMP-01997,2023-12-06,2023-12-18,facebook,84847,2616,4528.0,449.0,0,FA
1997,CMP-01998,Q4_BlackFriday_CMP-01998,2023-12-31,2024-01-14,instagram,29380,705,767.32,NaN,False,IN
1998,CMP-01999,Q1_Launch_CMP-01999,2023-10-31,2023-11-24,instagram,3356,124,145.24,18.0,0,IN
1999,CMP-02000,Q2_Winter_CMP-02000,2023-02-19,2023-03-04,tiktok,71326,2877,4588.82,245.0,True,TI
2008,CMP-01377,Q1_Winter_CMP-01377,2023-12-21,2023-12-29,email,87143,2204,2649.14,391.0,Yes,E-

In [96]:
# convert the spend column to float from object

df['spend'] = df['spend'].astype(float)
df['spend']

0        102.82
1         24.33
2       1323.39
3       2180.38
4        252.44
         ...
1996    4528.00
1997     767.32
1998     145.24
1999    4588.82
2008    2649.14
Name: spend, Length: 2001, dtype: float64

In [97]:
df

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,tiktok,16795,197,102.82,20.0,Y,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,facebook,1860,30,24.33,1.0,0,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,email,77820,843,1323.39,51.0,No,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,tiktok,55886,2019,2180.38,135.0,True,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,facebook,7265,169,252.44,30.0,Yes,FA
...,...,...,...,...,...,...,...,...,...,...,...
1996,CMP-01997,Q4_Winter_CMP-01997,2023-12-06,2023-12-18,facebook,84847,2616,4528.00,449.0,0,FA
1997,CMP-01998,Q4_BlackFriday_CMP-01998,2023-12-31,2024-01-14,instagram,29380,705,767.32,NaN,False,IN
1998,CMP-01999,Q1_Launch_CMP-01999,2023-10-31,2023-11-24,instagram,3356,124,145.24,18.0,0,IN
1999,CMP-02000,Q2_Winter_CMP-02000,2023-02-19,2023-03-04,tiktok,71326,2877,4588.82,245.0,True,TI
2008,CMP-01377,Q1_Winter_CMP-01377,2023-12-21,2023-12-29,email,87143,2204,2649.14,391.0,Yes,E-

In [98]:
# check the active column

df['active'].unique()

array(['Y', '0', 'No', 'True', 'Yes', '1', 'False'], dtype=object)

In [99]:
# from the unique above, we can all see that they all mean the same thing
# we replace 0 = No, false = No, 1 = yes, Y = yes, true = yes

df['active'].replace({'Y': 'Yes', '0': 'No', 'No': 'No', 'True': 'Yes', 'Yes': 'Yes', '1': 'Yes', 'False': 'No'}, inplace = True)
df

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,tiktok,16795,197,102.82,20.0,Yes,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,facebook,1860,30,24.33,1.0,No,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,email,77820,843,1323.39,51.0,No,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,tiktok,55886,2019,2180.38,135.0,Yes,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,facebook,7265,169,252.44,30.0,Yes,FA
...,...,...,...,...,...,...,...,...,...,...,...
1996,CMP-01997,Q4_Winter_CMP-01997,2023-12-06,2023-12-18,facebook,84847,2616,4528.00,449.0,No,FA
1997,CMP-01998,Q4_BlackFriday_CMP-01998,2023-12-31,2024-01-14,instagram,29380,705,767.32,NaN,No,IN
1998,CMP-01999,Q1_Launch_CMP-01999,2023-10-31,2023-11-24,instagram,3356,124,145.24,18.0,No,IN
1999,CMP-02000,Q2_Winter_CMP-02000,2023-02-19,2023-03-04,tiktok,71326,2877,4588.82,245.0,Yes,TI
2008,CMP-01377,Q1_Winter_CMP-01377,2023-12-21,2023-12-29,email,87143,2204,2649.14,391.0,Yes,E-

In [100]:
df['active'].unique()

array(['Yes', 'No'], dtype=object)

In [101]:
df.isnull().sum()

campaign_id        0
campaign_name      0
start_date         0
end_date           0
channel          100
impressions        0
clicks             0
spend              0
conversions      200
active             0
campaign_tag       0
dtype: int64

In [102]:
# fill null values in the conversion column

df['conversions'] = df['conversions'].fillna(df['conversions'].mean()).round(0)
df['conversions'].isnull().sum()

np.int64(0)

In [104]:
# drop the null values in the channel column 

df.dropna(subset = 'channel', inplace = True)

In [105]:
df.isnull().sum()

campaign_id      0
campaign_name    0
start_date       0
end_date         0
channel          0
impressions      0
clicks           0
spend            0
conversions      0
active           0
campaign_tag     0
dtype: int64

In [107]:
# handling outliers

Q1 = df['spend'].quantile(0.25)
Q3 = df['spend'].quantile(0.75)

IQR = Q3 - Q1
upper_limit = Q3 + (3 * IQR)

outlier = df['spend'] > upper_limit
print(df.loc[outlier, ['campaign_id', 'spend']].head(3))

df.loc[outlier, 'spend'] = upper_limit
print(df.loc[outlier, ['campaign_id', 'spend']].head(3))

     campaign_id      spend
789    CMP-00790  500000.00
1443   CMP-01444    8921.51
1460   CMP-01461  500000.00
     campaign_id    spend
789    CMP-00790  8635.51
1443   CMP-01444  8635.51
1460   CMP-01461  8635.51

In [111]:
# extract seasons from the campaign name

df['season'] = df['campaign_name'].str.extract(r'Q\d_([^_]+)_')
df.head()

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,tiktok,16795,197,102.82,20.0,Yes,TI,Summer
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,facebook,1860,30,24.33,1.0,No,FA,Launch
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,email,77820,843,1323.39,51.0,No,EM,Winter
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,tiktok,55886,2019,2180.38,135.0,Yes,TI,BlackFriday
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,facebook,7265,169,252.44,30.0,Yes,FA,Winter

In [112]:
df.to_csv('cleaned_marketing_campaign data.csv')